body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    font-family: helvetica;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 0;
}

#scoreboard {
    height: 80vh;
    width: 100%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    display: flex;
}

.col {
    height: 100%;
    width: 20%;
    border-right: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#col-4 {
    border: 0;
}

.remove-score {
    height: 35px;
    display: flex;
    align-items: center;
}

.show-minus {
    height: 10px;
    width: 35px;
    background-color: darkgray;
}

.show-minus:hover {
    background-color: gray;
    cursor: pointer;
}

.show-minus:active {
    background-color: rgb(100, 100, 100);
}

.player-score-per-num-display {
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
    user-select: none;
}

.player-score-per-num-display:hover {
    cursor: pointer;
}

.plus-sign {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}

.plus-sign:hover {
    cursor: pointer;
}

.plus-sign::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: darkgray;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.plus-sign::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: darkgray;
  width: 10px;
  margin-left: -5px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

.plus-sign:hover::after {
    background-color: gray;
    cursor: pointer;
}

.plus-sign:hover::before {
    background-color: gray;
    cursor: pointer;
}

.plus-sign:active::after {
    background-color: rgb(100, 100, 100);
}

.plus-sign:active::before {
    background-color: rgb(100, 100, 100);
}

.score {
    font-size: 40px;
    font-weight: bolder;
    display: block;
    margin: 0;
}

#score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first-player-score {
    margin-left: 7.75%;
}

#second-player-score {
    margin-right: 7.75%;
}

.player-score-display {
    margin: 3px;
    font-weight: bolder;
    font-size: 20px
}

#reset {
    color: white;
    text-decoration: none;
}

#reset:hover {
    color: darkgray;
    cursor: pointer;
}

#reset:active {
    color: gray;
}

#player-names-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first-player-name {
    background: 0;
    border: 0;
    color: white;
}

#second-player-name {
    background: 0;
    border: 0;
    color: white;
}

.player-name {
    font-size: 20px;
    margin: 0 11.5% 0 15%;
    outline-width: 0;
    width: 175px;
}

.forward-slashA { /* css for forward slash (use for single slash) */
    background-color: white;
    height: 50px;
    width: 5.5px;
    transform: rotate(45deg);
    border-radius: 20px;
    margin-top: none;
    margin-bottom: none;
}

.forward-slashB { /* css for forward slash (use to create x-shape) */
    background-color: white;
    height: 50px;
    width: 5.5px;
    transform: rotate(90deg);
    border-radius: 20px;
    margin-top: none;
    margin-bottom: none;
    }

.backward-slash { /* css for backward slash */
    margin-top: none;
    margin-bottom: none;
    background-color: white;
    height: 50px;
    width: 5.5px;
    transform: rotate(-45deg);
    border-radius: 20px;
    }

.inner-circle { /* css for circle */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  background-color: none;
  border-width: thick;
  position: relative;
  right: 17.5px;
  top: 5px;
}

.shape-container {
    /* border: 1px solid white; */
    width: 50px;
    display: flex;
    justify-content: center;
}

.shape-container:hover {
    cursor: pointer;
}
